body {
    background-color: rgb(0, 0, 0);
    color: #fff;
    font-family: "Caveat", cursive;
}

.container {
    max-width: 960px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    border-radius: 3rem;
    margin-top: 25px;
    padding: 30px;
}

section {
    overflow: auto;
    padding: 5px;
    margin: 0px 325px;
}

#wins {
    float: left;
}

#lose {
    float: right;
}

#test {
    margin-bottom: 20px;
    font-size: 50px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

#wrong-letter {
    font-size: 40px;
}

#artist-image {
    display: show;
    height: 325px;
    width: 450px;
    margin-top: 15px;
    border-radius: 3rem;
}

#artist-image:hover {
    border: 5px double white;
}

button {
    font-family: "Caveat", cursive;
    font-size: 30px;
    color: #ffff;
    background-color: black;
    width: 40%;
    margin-top: 20px;
}

button:hover {
    background-color: darkgrey;
    color: black;
}

button:active {
    background-color: black;
    color: #ffff;
}